# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\张越\二手项目交易平台flask项目\python-second-hand-goods-trading\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
